.component-contact {
  background-image: linear-gradient(45deg,rgb(79, 59, 219) 0,#01cfe3 50%,#58e7f5 100%);
  padding: 100px 0;
  color: #fff;

  &-title {
    margin-bottom: 35px;
    text-shadow: 2px 2px rgba(0,0,0,0.2);

    &:after {
      display: none;
    }
  }

  &-field-wrap {
    margin-bottom: 35px;
  }

  &-label {
    font-weight: 300;
    display: block;
    margin: 0 0 8px;
    text-shadow: 2px 2px rgba(0,0,0,0.1);

    + br {
      display: none;
    }
  }
}

.input-field, .enquire-form-textarea {
  border:none;
  width: 100%;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  padding: 15px 18px 16px;
}

.enquire-form-textarea {
  resize: none;
}
