.navbar {
  padding: 15px 0;

  &-brand img {
    width: 50px;
  }

  &-wrapper {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.go-to-form {
  color:#fff;
  font-weight: 300;
  transition: color 0.2s ease;
  text-shadow: 1px 1px rgba(0,0,0,0.1);

  &:hover {
    color:#be2edd;
  }
}