.staging {
  padding: 100px 0;
  background: #01cfe3;
  background-image: linear-gradient(45deg,#58e7f5 0,#01cfe3 50%,rgba(79, 59, 219, 0.8) 100%);
  text-align: center;
  color: #fff;
  overflow: hidden;

  &-title {
    font-size:3.5rem;
    font-weight: 800;
    line-height:$line-height;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    margin-bottom: 35px;
  }
}

@keyframes show-hero {
  0% {
    transform: scale(0);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}

.dive-down {
  display: none;
  width: 48px;
  height: 96px;
  position: absolute;
  bottom: 20px;
  bottom: 3vh;
  left: 50%;
  margin-left: -24px;
  background: url(../../images/pointing-hand@1x.png) center center no-repeat;
  background-size: cover;
  z-index: 100;
  border: 0;
  cursor: pointer;
  //pointer-events: none;
  animation: 2s ease-in-out infinite dive-down;
  transition: opacity .2s, bottom .2s;
  transition-delay: 1.4s
}

.dive-down.disappear, .no-js .dive-down {
  opacity: 0;
  bottom: -9.75rem;
  transition-delay: 0s
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .dive-down {
    background-image: url(../../images/pointing-hand@2x.png)
  }
}

@keyframes dive-down {
  0%, 100% {
    transform: translate3d(0, 0, 0)
  }
  50% {
    transform: translate3d(0, -10%, 0)
  }
}

@include media-breakpoint-up(xl) { // @media (min-width: 1200px) {}
  .staging {
    height: 100vh;
    padding: 0;
  }

  .dive-down {
    display: block;
  }
}

@media (min-height: 650px) {
  .staging-title {
    font-size: 4.5rem;
  }
}

@media (min-height: 800px) {
  .dive-down {
    width: 78px;
    height: 156px;
    margin-left: -39px;
    bottom: 2vh;
  }
}

