.main {
  overflow-x: hidden;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1300px;
  display: block;
}

.component-margin {
  margin: 50px 0 0;
}

.separator {
  &:before {
    display: block;
    margin: 34px auto 68px;
    content: "";
    width: 4px;
    height: 200px;
    background-color: #E9E9E9;
  }
}

.general-title {
  font-size: 4rem;
  margin-bottom: 35px;
  font-weight: 800;

  &:after {
    content: "";
    display: block;
    margin: 15px auto 0;
    width: 50px;
    height: 5px;
    background-color: #be2edd;
  }
}

.white-cut-top, .white-cut-bottom {
  position: relative;
}

.white-cut-bottom:after, .white-cut-top:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 4rem;
  left: 0;
  background: linear-gradient(-182deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 50%,#fff 51%,#fff 100%);
}

.white-cut-top:before {
  content: "";
  top: 0;
  transform: scale(1,-1);
}

.white-cut-bottom:after {
  content: "";
  bottom: 0;
}

.error {
  margin: 5px 0 0;
  display: none;
  font-size: 1.4rem;
}

.btn-primary {
  transition: 0.3s ease all;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 16px 79px 15px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  z-index: 2;
  color:#be2edd;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #be2edd;
    z-index: -2;
  }

  &:hover {
    color: #fff;

    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}

@include media-breakpoint-up(md) { // @media (min-width: 768px) {}
  .general-title {
    font-size: 5rem;
  }

  .component-margin {
    margin: 100px 0 0;
  }
}
