html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: $base-font-size;
  font-family: $open-sans-family;
  line-height: 1.3;
  height: 100%;
  color: $text-default;
}

a {
  color: $link-default;

  &:hover {
    text-decoration: none;
  }
}